.container:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
}

.container:nth-child(2) {
  height: 80%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  background-image: url('./Images/Mountain-02.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #011627;
  text-align: center;
}

label {
  text-align: center;
  padding: 15px
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: #9DEDFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

option {
  text-align: center;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  width: 25%;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

